*{
    margin: 0;
    padding: 0;
}

main{
    /* Use For Set background images  */
    background-image: url(assets/images/bg.jpg);
    height: 88vh;
    width: 100%;
    position: relative;
}
main .box{
    height: 88vh;
    width: 100%;
    background-color: black;
    opacity: 0.44;
    position: absolute;
    top: 0;

}
nav{
    display: flex;
}